{% extends 'openclass/base.html' %}
{% load staticfiles %}
{% block headercontent %}
<title>About - {{config.SITE_NAME}}</title>
<link rel="stylesheet" href="{% static 'openclass/css/about.css' %}">
{% endblock %}
{% block content %}

<div class="container">
  <div class="row" style="display:flex;justify-content:center;align-items:center;">
    <h1 class="about-title">About OpenClass</h1>
    </div>
  <div class="row text-white" style="display:flex;justify-content:center;align-items:center;">
        <p class="website-decripption">{{ config.SITE_DESCRIPTION }}</p>
    </div>
  <div class="row" style="display:flex;justify-content:center;align-items:center;">
    <h2 class="team-header">Core Team</h2>
  </div>
  <div class="row row-1 text-center">
        <div class="col-12 col-lg-10 col-xl-4">
          <div class="card card-custom">
          <img class="card-img-top" src="{{ MEDIA_URL }}{{ config.CORE_TEAM_MEMBER_N0_PHOTO }}" alt="Card image cap">
          <div class="card-body">
            <h4>{{ config.CORE_TEAM_MEMBER_N0_NAME }}</h4>
            <h5>{{ config.CORE_TEAM_MEMBER_N0_DESCRIPTION }}</h5>
            <p class="card-text"></p>
          </div>
        </div>
        </div>
      <div class="col-12 col-lg-10 col-xl-4">
      <div class="card card-custom">
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ config.CORE_TEAM_MEMBER_N1_PHOTO }}" alt="Card image cap">
        <div class="card-body">
          <h4>{{ config.CORE_TEAM_MEMBER_N1_NAME }}</h4>
          <h5>{{ config.CORE_TEAM_MEMBER_N1_DESCRIPTION }}</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
     <div class="col-12 col-lg-10 col-xl-4">
       <div class="card card-custom">
          <img class="card-img-top" src="{{ MEDIA_URL }}{{ config.CORE_TEAM_MEMBER_N2_PHOTO }}" alt="Card image cap">
          <div class="card-body">
            <h4>{{ config.CORE_TEAM_MEMBER_N2_NAME }}</h4>
            <h5>{{ config.CORE_TEAM_MEMBER_N2_DESCRIPTION }}</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  <div class="row text-center" style="display:flex;justify-content:center;align-items:center;">
    <div class="col-12 col-lg-10 col-xl-4">
      <div class="card card-custom">
      <img class="card-img-top" src="{{ MEDIA_URL }}{{ config.CORE_TEAM_MEMBER_N3_PHOTO }}" alt="Card image cap">
      <div class="card-body">
        <h4>{{ config.CORE_TEAM_MEMBER_N3_NAME }}</h4>
        <h5>{{ config.CORE_TEAM_MEMBER_N3_DESCRIPTION }}</h5>
        <p class="card-text"></p>
      </div>
      </div>
    </div>
    <div class="col-12 col-lg-10 col-xl-4">
     <div class="card card-custom">
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ config.CORE_TEAM_MEMBER_N4_PHOTO }}" alt="Card image cap">
        <div class="card-body">
          <h4>{{ config.CORE_TEAM_MEMBER_N4_NAME }}</h4>
          <h5>{{ config.CORE_TEAM_MEMBER_N4_DESCRIPTION }}</h5>
          <p class="card-text"></p>
        </div>
      </div>
  </div>
  </div>
  <div class="row"  style="display:flex;justify-content:center;align-items:center;">
    <h1 class="about-title">Want to work with us ?</h1>
  </div>
    <div class="row text-white" style="display:flex;justify-content:center;align-items:center;">
    <p><a href="{{ config.PROJECT_GITHUB_URL }}" target="_blank"><i class="fa fa-github" style="font-size: 34px;"></i> Contribute on GitHub</a></p>
    </div>
  <div class="row" style="display:flex;justify-content:center;align-items:center;">
        <p class="website-decripption"></p>
    </div>
</div>
{% endblock %}
