{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-9 col-md-9">
			<div class="card hovercard">
				<div class="info">
					<div id="accordion">
						<div class="card">
							<div class="card-header text-center" id="headingOne">
								<a href="#"><h3>{{workshop.title}}</h3></a>
										<label>Date: </label><p>{{workshop.start_date}}</p>
								<span>Attendence Management</span>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<div class="list-group text-center">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">user_id</th>
													<th scope="col">Username</th>
													<th scope="col">Registration Date</th>
													<th scope="col">Status</th>
												</tr>
											</thead>
											<tbody>
												{% for r in registrations %}
													<tr>
														<th scope="row">
														{{r.profile.id}}
														</th>
														<td>
															@{{r.profile.user.username}}
														</td>
														<td>
															{{r.date_registration}}
														</td>
														<td>
															<a href="{% url 'openclass:user_attendance' workshop.pk r.profile.id %}">
																<span>
																	{% if r.present %}
																	Present
																	{% else %}
																	Absent
																	{% endif %}
																</span>
															</a>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										<a href="{% url 'openclass:moderation' %}"><span>Moderation Dashboard</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
