{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'openclass/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'openclass/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'openclass/css/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <script src="{% static 'openclass/js/modernizr.js' %}"></script>
    <script src="{% static 'openclass/js/pace.min.js' %}"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a class="logo" href="{% url 'openclass:index' %}">
                    <img src="{% static 'openclass/img/logo.png' %}" alt="Homepage">
                </a>
            </div> <!-- end header__logo -->


            <a class="header__search-trigger" href="#0"></a>

            <div class="header__search">

                <form role="search" method="get" class="header__search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

            </div>  <!-- end header__search -->


            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

                <ul class="header__nav">
                    <li class="current"><a href="{% url 'openclass:index' %}" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Workshops</a>
                        <ul class="sub-menu">
                        <li><a href="{% url 'openclass:workshops_list' %}">Workshops List</a></li>
                        <li><a href="#">Upcoming Workshops</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="">FAQ</a></li>
                    <li><a href="#" title="">About</a></li>
                    <li><a href="#" title="">Contact</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="has-children">
                        <a href="{% url 'openclass:profile' %}">
                        @{{ request.user.username }}
                        </a>
                        <ul class="sub-menu">
                        <li><a href="{% url 'openclass:profile' %}">Profile</a></li>
                        <li><a href="{% url 'openclass:prefs' %}">Preferences</a></li>
                        <li><a href="#">My Registrations</a></li>
                        <li><a href="{% url 'openclass:user_settings' %}">Settings</a></li>
                        <li><a href="{% url 'openclass:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'openclass:login' %}" title="">
                        Login
                        </a>
                    </li>
                    {% endif %}
                </ul> <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div> <!-- header-content -->
    </header> <!-- header -->

    {% block content %}
    {% endblock %}

    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="{% url 'openclass:index' %}">Home</a></li>
                        <li><a href="{% url 'openclass:workshops_list' %}">Workshops</a></li>
                        <li><a href="#0">FAQ</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="#0">Terms of use</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">

                    <h4>TRENDING</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Security</a></li>
                        <li><a href="#0">Design</a></li>
                        <li><a href="#0">Web Development<a></li>
                        <li><a href="#0">Mobile Development</a></li>
                        <li><a href="#0">Sound Editing</a></li>
                        <li><a href="#0">Soft Skills</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>OpenClass</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Find a workshop" required="">

                            <input type="submit" name="subscribe" value="SEARCH">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright OpenClass 2018</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->


    <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{% static 'openclass/js/plugins.js' %}"></script>
<script src="{% static 'openclass/js/main.js' %}"></script>

</body>
</html>
<!--                     <div class="desc">Username: @nadirhackerman</div>
                    <div class="desc">First Name: Ahmed Nadir</div>
                    <div class="desc">Last Name: Bounoua</div>
                    <div class="desc">Email: a.bounoua@esi-sba.dz</div>
                    <div class="desc">Age: 21</div>
                    <div class="desc">Phone Number: +213 542 158 381</div>
 -->
