{% extends 'openclass/base.html' %}
{% load staticfiles %}
{% block headercontent %}
<link rel="stylesheet" href="{% static 'openclass/css/faq.css' %}">
<title>FAQ - {{config.SITE_NAME}}</title>
{% endblock %}

{% block content %}
<div class="container container-custom py-4">
    <div class="row">
        <div class="col-xs-12 col-md-12">
          <div id="accordion">
            {% for faq in faqs %}
            <div class="card">
              <div class="card-header" id="heading{{ faq.pk }}">
                <h5 class="mb-0">
                  <a class="faq-question" data-toggle="collapse" data-target="#collapse{{ faq.pk }}" aria-expanded="true" aria-controls="collapse{{ faq.pk }}">
                    {{ faq.question }}
                  </a>
                </h5>
              </div>

              <div id="collapse{{ faq.pk }}" class="collapse" aria-labelledby="heading{{ faq.pk }}" data-parent="#accordion">
                <div class="card-body">
                  {{ faq.answer }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'openclass/js/faq.js' %}">
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $('#collapse1').addClass('show');
</script>
{% endblock %}