
<div class="col-xs-12 col-lg-12 col-xl-6 col-infos">
          {% if is_feedbacked %}
          <h3>Feedback:</h3>
          <h4>You already sent your feedback</h4>
          {% else %}
          <h3>Feedback:</h3>
          <form class="poll mt-3" method="post" action="{{ request.path }}">
            {% csrf_token %}
            {% for q in questions %}
                <h4>{{q.question}}</h4>
                <div>
                    <ul>
                      <fieldset id="question{{q.pk}}">
                          {% for c in q.get_choices %}
                            <li><input type="radio" name="{{mc_questions_prefix}}{{q.pk}}" data-choice-id="{{c.pk}}" value="{{c.pk}}"/>{{c.choice}}</li>
                          {% endfor %}
                      </fieldset>
                    </ul>
                </div>
            {% endfor %}
            <label for="comment">Comment:</label>
            <textarea type="text" name="comment" ></textarea>
            <input type="submit" value="Submit" />
          </form>
          {% endif %}

</div>
