{% extends 'openclass/base.html' %}
{% load staticfiles %}
{% block headercontent %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
<link rel="stylesheet" href="{% static 'openclass/css/listworkshops.css' %}"/>

{% endblock %}
{% block content %}
<script type="text/javascript">
	$.ajaxSetup({
	   beforeSend: function(xhr, settings) {
	       function getCookie(name) {
	           var cookieValue = null;
	           if (document.cookie && document.cookie != '') {
	               var cookies = document.cookie.split(';');
	               for (var i = 0; i < cookies.length; i++) {
	                   var cookie = jQuery.trim(cookies[i]);
	                   // Does this cookie string begin with the name we want?
	                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                       break;
	                   }
	               }
	           }
	           return cookieValue;
	       }
	       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	           // Only send the token to relative URLs i.e. locally.
	           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	       }
	   }
	});
</script>
<title>Workshop List</title>
<div class="container">
  <div class="row px-1">
    <div class="col-12 col-lg-3 col-xl-3 col-filter px-0">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Location">
      </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
        <h4 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Category
        </h4>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body">
        {% for tag in tags %}
            <a href="#" class="filter-tag card-link">{{tag.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
        <h4 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Date
        </h4>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
        <a href="#" class="card-link">Tomorrow</a>
        <a href="#" class="card-link">This week</a>
        <a href="#" class="card-link">Next week</a>
        <a href="#" class="card-link">This month</a>

      </div>
    </div>
  </div>



    </div>
  {% if workshops %}
    <div class="col-12 col-lg-9 col-xl-9">
    {% for workshop in workshops %}
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
          <div class="card card-workshop my-1">
            <div class="card-body px-0 py-0">
              <div class="row">
                <div class="col-4 col-lg-4 col-xl-4">
                    <a href="{% url 'openclass:workshops_detail' workshop.pk %}">
                    <img  src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&h=350" class="img-background" alt="...">
                    </a>
                </div>
                <div class="col-8 col-lg-8 col-xl-8 px-0">
									<div class="row">
										<div class="col-10 col-lg-10 col-xl-10">
											<h4 class="text-date">{{workshop.start_date}} ({{workshop.days_left}} days)</h4>
										</div>
										<div class="col-2 col-lg-2 col-xl-2 mt-3">
											<i class="fa fa-share-alt fa-2x"></i>
										</div>
									</div>
                  <div class="row">
                    <div class="col-10 col-lg-6 col-xl-10">
                      <a href="{% url 'openclass:workshops_detail' workshop.pk %}">
                        <h2 class="title">{{workshop.title}}</h2>
                      </a>
                    </div>
                  </div>

                  {% for i in workshop.topics.all %}
                  <a href="#" class="">
                    #{{i.name}}
                  </a>
                  {% endfor %}
                  <div class="row mt-4">
                    <div class="col-5 col-lg-6 col-xl-5">
                    <h4>Inscription progress: </h4>
                    </div>
                    <div class="col-7 col-lg-6 col-xl-7">
                      <div class="progress">
                      <div class="inscription-progress-bar progress-bar bg-success " role="progressbar" style="width: 100%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
</div>
<script type="text/javascript" src="{% static 'openclass/js/bootstrap-material-design.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openclass/js/pooper.min.js' %}"></script>
<script type="text/javascript">
  	filters = document.getElementsByClassName('filter-tag');
		cards_list=document.getElementsByClassName('card-workshop');
		tag_filters_list=[];
		cards_date_list=document.getElementsByClassName('text-date')
		cards_title_list=document.getElementsByClassName('title')
	  for (var i = 0; i < filters.length; i++) {

      var filtertext= filters[i].text;
      filters[i].onclick = function search() {
				tag_filters_list.push(this.text);
        $.ajax({
          type: "POST",
          url: "{% url 'openclass:workshops_filter_tag' %}",
          dataType: "json",
          traditional: true,
          data: {'tag': tag_filters_list},
          success: function(result) {
								workshop_list=result.data;
								console.log("g",cards_list.length);
								for (var i = 0; i <= cards_list.length+1; i++) {
									console.log("d",i);
									if(i == cards_list.length){
										console.log("k",i);
										$('.card-workshop').slice(i).remove();
									
									}

									if(i >= workshop_list.length){
										console.log(i);
										$('.card-workshop').slice(i	,i+1).remove()

									}
								}
           }
        });
      }
    }


</script>
{% endblock %}
