{% extends 'openclass/base.html' %}
{% load staticfiles %}
{% block headercontent %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
<link rel="stylesheet" href="{% static 'openclass/css/listworkshops.css' %}"/>

{% endblock %}
{% block content %}
<script src="{% static 'openclass/js/csrf.js' %}"></script>
<title>Workshop List</title>
<div class="container">
  <div class="row px-1">
    <div class="col-12 col-lg-3 col-xl-3 col-filter px-0">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Location">
      </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
        <h4 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Category
        </h4>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body">
        {% for tag in tags %}
            <a href="#" class="filter-tag card-link">{{tag.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
        <h4 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Date
        </h4>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
        <a href="#" class="card-link filter-time">Tomorrow</a>
        <a href="#" class="card-link filter-time">This week</a>
        <a href="#" class="card-link filter-time">Next week</a>
        <a href="#" class="card-link filter-time">This month</a>

      </div>
    </div>
  </div>
</div>
  <div id="workshopsContainer" class="col-12 col-lg-9 col-xl-9">
    {% include 'openclass/listworkshop_item.html' %}
  </div>



</div>
</div>
<script type="text/javascript" src="{% static 'openclass/js/bootstrap-material-design.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openclass/js/pooper.min.js' %}"></script>
<script type="text/javascript">
  	var tag_filters = document.getElementsByClassName('filter-tag');
    var time_filters = document.getElementsByClassName('filter-time');
    var tag_container = document.getElementById('tag-list');
    var tag_filter_front;
    var time_filter_front;

    var tag_filter_list = [];
    var time_filter_list = [];

    for (var i = 0; i < time_filters.length; i++) {
      time_filters[i].onclick = function search() {
        time_filter_list.push(this.text)
        ajax()
      }
    }

	  for (var i = 0; i < tag_filters.length; i++) {
      tag_filters[i].onclick = function search() {
        tag_filter_list.push(this.text);
        console.log(tag_filter_list);
        ajax()
      }
    }

    function ajax_tag() {
      $.ajax({
        type: "POST",
        url: "{{ request.path }}",
        data: {'filter': 'TAG','tag': tag_filter_list},
        success: function(result) {
            $("#workshopsContainer").html(result)
            newtagOnClick();
          }
        });
    }

    function newtagOnClick() {
      tag_filter_front = document.getElementsByClassName('tag-list-item');
      for (var j = 0; j < tag_filter_front.length; j++) {
        tag_filter_front[j].onclick = function search_again() {
          var data = this.text;
          for (var k = 0; k < tag_filter_list.length; k++) {
            if (tag_filter_list[k] === data){
              tag_filter_list.splice(k, 1);
              k=-1;
            }
          }
          ajax()
        }
      }
    }

    function ajax(){
      $.ajax({
        type: "POST",
        url: "{{ request.path }}",
        data: {'filter': 'TIME','time': time_filter_list, 'tag': tag_filter_list},
        success: function(result) {
              $("#workshopsContainer").html(result)
              newtimeOnClick()
              newtagOnClick()
        },
        error: function(error) {
            alert("ERROR");
              console.log(error);
        }
      });
    }

    function newtimeOnClick() {
      tag_filter_front = document.getElementsByClassName('time-list-item');
      for (var j = 0; j < tag_filter_front.length; j++) {
        tag_filter_front[j].onclick = function search_again() {
          var data = this.text;
          for (var k = 0; k < tag_filter_list.length; k++) {
            console.log(k);
            if (time_filter_list[k] === data){
              time_filter_list.splice(k, 1);
              k=-1;
            }
          }
          ajax()
        }
      }
    }

</script>
{% endblock %}
