<div class="row">
  <div id="tag-list" class="container">
    {% for tag in tag_names %}
        <a href="#" class="tag-list-item card-link" onclick=" search_again_tag(this.text)">{{tag}}</a>
    {% endfor %}
    {% for time in times %}
        <a href="#" class="time-list-item card-link" onclick="search_again_time(this.text)">{{time}}</a>
    {% endfor %}

  </div>
</div>
{% if workshop_list %}
  {% for workshop in workshop_list %}
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="card card-workshop my-1">
          <div class="card-body px-0 py-0">
            <div class="row">
              <div class="col-4 col-lg-4 col-xl-4">
                  <a href="{% url 'openclass:workshops_detail' workshop.pk %}">
                  <img  src="/{{workshop.cover_img.url}}" class="img-background" alt="...">
                  </a>
              </div>
              <div class="col-8 col-lg-8 col-xl-8 px-0">
                <div class="row">
                  <div class="col-10 col-lg-10 col-xl-10">
                    <h4 class="text-date">{% if workshop.days_left < 0 %}
                      (Past)
                    {% else %}
                      {% if workshop.days_left == 0 %}
                        (Today)
                      {% elif workshop.days_left == 1 %}
                        (Tommorow)
                      {% else %}
                        ({{workshop.days_left}} days)
                      {% endif %}
                    {% endif %}</h4>
                  </div>
                  <div class="col-2 col-lg-2 col-xl-2 mt-3">
                    <i class="fa fa-share-alt fa-2x"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="col-10 col-lg-6 col-xl-10">
                    <a href="{% url 'openclass:workshops_detail' workshop.pk %}">
                      <h2 class="title">{{workshop.title}}</h2>
                    </a>
                  </div>
                </div>

                {% for i in workshop.topics.all %}
                <a href="#" class="">
                  #{{i.name}}
                </a>
                {% endfor %}
                <div class="row mt-4">
                  <div class="col-5 col-lg-6 col-xl-5">
                  <h4>Inscription progress: </h4>
                  </div>
                  <div class="col-7 col-lg-6 col-xl-7">
                    <div class="progress">
                    <div class="inscription-progress-bar progress-bar bg-success " role="progressbar" style="width: 100%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
