{% extends 'openclass/base.html' %}
{% load staticfiles %}
{% block headercontent %}
<link rel="stylesheet" href="{% static 'openclass/css/member-list.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
    $('#member_list').DataTable();
} );
</script>
{% endblock %}
 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 offset-md-1">
			<div class="card hovercard">
				<div class="info">
					<div id="accordion">
						<div class="card">
							<div class="card-header text-center" id="headingOne">
							<a href="#"><h3>Member List</h3></a>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<div class="list-group text-center">
										<table id="member_list" class="table" data-order='[[ 1, "asc" ]]' data-page-length='25'>
											<thead>
												<tr>
													<th scope="col" data-orderable='false'>Avatar</th>
													<th scope="col">Username</th>
													<th scope="col">First Name</th>
													<th scope="col">Last Name</th>
													<th scope="col">Score</th>
												</tr>
											</thead>
											<tbody>
												{% for p in users %}
													<tr>
														<td>
															{% if p.profile.photo %}
																<a href = "{% url 'openclass:members_detail' p.username %}" > <img class="member-list img-responsive" src="/{{p.profile.photo.url}}"> </a>
															{% else %}
																<a href = "{% url 'openclass:members_detail' p.username %}" > <img class="member-list img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/2000px-Antu_im-invisible-user.svg.png"> </a>
															{% endif %}	
														</td> 
														<th scope="row">
														<a href = "{% url 'openclass:members_detail' p.username %}" >@{{p.username}} </a>
														</th>
														<td>
															{{p.first_name}}
														</td>
														<td>
															{{p.last_name}}
														</td>
														<td>
															{{p.profile.score}}
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										<a href="{% url 'openclass:moderation' %}"><span>Moderation Dashboard</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
