{% extends 'openclass/base.html' %}
{% load staticfiles %}
{% block headercontent %}
<link rel="stylesheet" href="{% static 'openclass/css/member-list.css' %}">

    {% endblock %}
 
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-9 col-md-9">
			<div class="card hovercard">
				<div class="info">
					<div id="accordion">
						<div class="card">
								<div class="card-header text-center" id="headingOne">
								<a href="#"><h3>Member List</h3></a>
								
										<div class="row">
											<div class="col-lg-12">

										    <input  type="search"  placeholder="Search..."> 
										  </div>
										</div>				
										
								
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<div class="list-group text-center">
										<table class="table">
											<thead>
												<tr>
													<th scope ="col" >Avatar </th>
													<th scope="col">Username</th>
													<th scope="col">Last Name</th>
													<th scope="col">First Name</th>
													<th scope="col">Score</th>
												</tr>
											</thead>
											<tbody>
												{% for p in profiles %}
													<tr>
														<td >
														    <div class="member-list">
																<a href = "{% url 'openclass:members_detail' p.user.username %}" > <img src="{%  static 'openclass/img/avatars/something.jpg' %} " class="img-responsive"> </a>
																</div>
														</td> 
														<th scope="row">
														<a href = "{% url 'openclass:members_detail' p.user.username %}" >@{{p.user.username}} </a>
														</th>
														<td>
															{{p.user.first_name}}
														</td>
														<td>
															{{p.user.last_name}}
														</td>
																					
														<td>
															{{p.user.score}}
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										<a href="{% url 'openclass:moderation' %}"><span>Moderation Dashboard</span></a>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
