                <div class="card">
                  <div class="card-header" data-background-color="blue">
                    <h4 class="title">Recently Registered Users</h4>
                    <p class="category">4 last users</p>
                  </div>
                  <div class="card-content table-responsive">
                    <table class="table table-hover">
                      <thead class="text-warning">
                        <th>ID</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                      </thead>
                      <tbody>
                        {% for u in users %}
                        <tr>
                          <td>{{u.pk}}</td>
                          <td>{{u.username}}</td>
                          <td>{{u.first_name}}</td>
                          <td>{{u.last_name}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
