{% load staticfiles %}
                <div class="card">
                  <div id="draw" class="card-header card-chart" data-background-color="blue">
                  	<img src="{% static 'openclass/img/dashboard/graph3.png' %}">
                  </div>
                  <div class="card-content">
                    <h4 class="title">Presence</h4>
                    <p class="category">
                      <span class="text-danger"><i class="fa fa-long-arrow-down"></i> 12% </span> in presence!
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                  </div>
                </div>
