{% load staticfiles %}
                <div class="card">
                  <div id="draw" class="card-header card-chart" data-background-color="blue">
                    <svg id="svg"></svg>
                  </div>
                  <div class="card-content">
                    <h4 class="title">Users SignUps</h4>
                    <p class="category">
                      <span class="text-success"><i class="fa fa-long-arrow-up"></i> 78% </span> in signups!
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                  </div>
                </div>
<script src="{% static 'openclass/js/graph-1.js' %}" type="text/javascript"></script>