{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'openclass/css/moderation.css' %}">
<title>Profile</title>
<div class="container container-custom py-4">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6">
          <a class="btn text-white">Manage Attendance</a>
          <a class="btn text-white">Manage Submitted Workshops</a>
          <a class="btn text-white mb-0">Manage Questions</a>
        </div>
        <div class="col-xs-12 col-lg-3 col-md-3">
        </div>
    </div>
</div>
    {% endblock %}
