{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'openclass/css/moderation.css' %}">
<title>Moderation - {{config.SITE_NAME}}</title>
<div class="container container-custom py-4">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6">
          <h3>Manage Attendance</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#id</th>
                <th scope="col">Title</th>
                <th scope="col">Start Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for w in workshops %}
              <tr>
                <th scope="row">{{w.pk}}</th>
                <td>{{w.title}}</td>
                <td>{{w.start_date}}</td>
                <td><a href="{% url 'openclass:attendance' w.pk %}">Manage</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'openclass:moderation_submitted_workshops' %}" class="btn text-white">Manage Submitted Workshops</a>
          <a class="btn text-white">Manage Questions</a>
        </div>
        <div class="col-xs-12 col-lg-3 col-md-3">
        </div>
    </div>
</div>
    {% endblock %}
