{% load staticfiles %}
                <div class="card">
                  <div id="draw" class="card-header card-chart" data-background-color="blue">
                    <img src="{% static 'openclass/img/dashboard/graph2.png' %}">
                  </div>
                  <div class="card-content">
                    <h4 class="title">Registrations</h4>
                    <p class="category">
                      <span class="text-success"><i class="fa fa-calendar"></i> daily activity</span>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                  </div>
                </div>
