{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'openclass/css/profile.css' %}">
<title>{{user.first_name}} {{user.last_name}} (@{{user.username}})</title>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
            <div class="card-user hovercard">
                <div class="cardheader"></div>
                <div class="avatar">
                  {% if user.profile.photo %} 
                    <img alt="" src="/{{user.profile.photo.url}}">
                  {% else %}
                    <img alt="" src="{% static 'openclass/img/avatars/default-avatar.png' %}">
                  {% endif %}
                </div>
                <div class="info">
                    <div class="title">@{{user.username}}</div>
                    <div class="desc">{{user.first_name}}</div>
                    <div class="desc">{{user.last_name}}</div>
                    <div class="desc">{{user.email}}</div>
                    <div class="desc">{{user.profile.get_age}} years</div>
                    <div class="desc">{{user.phone_number}}</div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-lg-9 col-md-9">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="info">
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0 text-center">
                            <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Workshops Attended
                            </button>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <div class="list-group text-center">
                            {% for workshop in user.profile.workshops_attended %}
                              <a href="{% url 'openclass:workshops_detail' workshop.pk %}" class="list-group-item list-group-item-action">{{workshop.title}}</a>
                            {% endfor %}
                            {% if request.user == user %}
                              {% if user.profile.workshops_attended.count == 0 %}
                                <p>You didn't attend to any workshop yet. Visit the <a href="{% url 'openclass:workshops_list' %}">Workshops List</a> now!</p>
                              {% else %}
                                <a href="#"><span>View more</span></a>
                              {% endif %}  
                            {% else %}
                                <p>@{{user.username}} didn't attend to any workshop yet.</p>
                            {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0 text-center">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Workshops Animated
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <div class="list-group  text-center">
                            {% for workshop in user.profile.workshops_animated %}
                              <a href="{% url 'openclass:workshops_detail' workshop.pk %}" class="list-group-item list-group-item-action">{{workshop.title}}</a>
                            {% endfor %}
                            {% if request.user == user %}
                              {% if user.profile.workshops_animated.count == 0 %}
                              <p>You didn't animate any workshop yet. <a href="{% url 'openclass:submit_workshop' %}">Submit a Workshop now!</a></p>
                              {% else %}
                                <a href="#"><span>View more</span></a>
                              {% endif %}  
                            {% else %}
                                <p>@{{user.username}} didn't animate to any workshop yet.</p>
                            {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    {% endblock %}
