{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'openclass/css/profile.css' %}">
<title>Profile</title>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
            <div class="card-user hovercard">
                <div class="cardheader"></div>
                <div class="avatar">
                    <img alt="" src="{% static 'openclass/img/nadir.png' %}">
                </div>
                <div class="info">
                    <div class="title">@droggy</div>
                    <div class="desc">Ahmed Nadir</div>
                    <div class="desc">Bounoua</div>
                    <div class="desc">a.bounoua@esi-sba.dz</div>
                    <div class="desc">21 years</div>
                    <div class="desc">+213 542 158 381</div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-lg-9 col-md-9">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="info">
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0 text-center">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Workshop Attended
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <div class="list-group  text-center">
                            {% for workshop in w %}
                              <a href="#" class="list-group-item list-group-item-action">{{workshop.title}}</a>
                            {% endfor %}
                              <a href="#" class="list-group-item list-group-item-action">Example Workshop 1</a>
                              <a href="#" class="list-group-item list-group-item-action">Example Workshop 2</a>
                              <a href="#" class="list-group-item list-group-item-action">Example Workshop 3</a>
                              <a href="#"><span>View more</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Workshops Animated
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <div class="list-group  text-center">
                            {% for workshop in w %}
                              <a href="#" class="list-group-item list-group-item-action">{{workshop.title}}</a>
                            {% endfor %}
                              <a href="#" class="list-group-item list-group-item-action">Example Workshop 1</a>
                              <a href="#" class="list-group-item list-group-item-action">Example Workshop 2</a>
                              <a href="#" class="list-group-item list-group-item-action">Example Workshop 3</a>
                              <a href="#"><span>View more</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    {% endblock %}
