{% extends 'openclass/base.html' %}
{% load staticfiles %}

{% block content %}
<title>SignUp - {{site.title}}</title>
<link rel="stylesheet" href="{% static 'openclass/css/signup.css' %}">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6">
			<h2 class="text-white">SignUp</h2>
			<form name="signupForm" method="post" onsubmit="return validateSignUpForm()">
				{% csrf_token %}
				{{user_form.as_p}}
                <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">
                </div>
				<p>
				<label for="pw2">Confim password:</label> 					
				<input id="pw2" type="password" name="pw2" required="true">
				</p>
				{{user_profile_form.as_p}}
				<button id="signup-btn" type="submit">Send</button>
			</form>
		</div>
		<div class="col-xs-12 col-lg-3 col-md-3">
        </div>
	</div>
</div>
{% endblock %}
