{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'openclass/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/preferences.css' %}">
<title>Profile</title>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
        {% include 'openclass/profile-card.html' %}

        </div>
        <div class="col-xs-12 col-lg-9 col-md-9">
            <div class="card hovercard pl-5">
                <div class="cardheader">
                  <h3>Manage preferences</h3>
                  <h6>Choose the informations you want to hide:</h6>
                </div>
                <div class="info">
                  <form method="post">
                    {% csrf_token %}
                    {{ user_prefs_form.as_table }}
                    <br>
                    <input type="submit"/>
                  </form>
                </div>
            </div>
        </div>


    </div>
</div>
    {% endblock %}
{% block scripts %}
<!-- <script type="text/javascript">
    $('input[type="checkbox"').after('<div class="switcher__indicator"></div>');
</script> -->
{% endblock %}