{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'openclass/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/preferences.css' %}">
<title>Profile</title>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
            <div class="card-user hovercard">
                <div class="cardheader"></div>
                <div class="avatar">
                    <img alt="" src="{% static 'openclass/img/nadir.png' %}">
                </div>
                <div class="info">
                    <div class="title">@{{user.username}}</div>
                    <div class="desc">{{user.first_name}}</div>
                    <div class="desc">{{user.last_name}}</div>
                    <div class="desc">{{user.email}}</div>
                    <div class="desc">{{age}} years</div>
                    <div class="desc">{{user.phone_number}}</div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-lg-9 col-md-9">
            <div class="card hovercard pl-5">
                <div class="cardheader">
                  <h3>Manage preferences</h3>
                  <h6>Choose the informations you want to hide:</h6>
                </div>
                <div class="info">
                    <label class="switcher">
                    <input type="checkbox"/>
                    <div class="switcher__indicator"></div>
                    <span>Email</span>
                    </label>
                    <br/><br/>
                    <label class="switcher">
                    <input type="checkbox" checked="checked"/>
                    <div class="switcher__indicator"></div>
                    <span>Phone Number</span>
                    </label>
                    <br/><br/>
                    <label class="switcher">
                    <input type="checkbox"/>
                    <div class="switcher__indicator"></div>
                    <span>Age</span>
                    </label>
                    <br/><br/>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>
    {% endblock %}
