{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'openclass/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/preferences.css' %}">
<title>My Questions - {{config.SITE_NAME}}</title>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
            {% include 'openclass/profile-card.html' %}
        </div>
        <div class="col-xs-12 col-lg-9 col-md-9">
            <div class="card hovercard pl-5">
                <div class="cardheader">
                  <h3>Your questions</h3>
                  <h6>List of the questions you asked:</h6>
                </div>
                <div class="info">
                    <div class="list-group mb-3 mt-3 mr-5">
                    {% if registrations.count == 0 %}
                    <p>You didn't ask any question yet.</p>
                    {% else %}
                    {% for q in questions %}
                    <li class="list-group-item list-group-item-action row">
                        <div class="col-xs-12 col-lg-8">
                            <label>Question: </label><span>{{q.question}}</span>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Workshop: </label><a href="{% url 'openclass:workshops_detail' q.workshop.pk %}" >{{q.workshop.title}}</a>
                        </div>    
                    </li>
                    {% endfor %}
                    {% endif %}
                      </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
