{% extends 'openclass/base.html' %}
{% load staticfiles %}

{% block headercontent %}
<link rel="stylesheet" href="{% static 'openclass/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/signup.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/preferences.css' %}">
<script src="https://selectize.github.io/selectize.js/js/selectize.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://selectize.github.io/selectize.js/css/selectize.default.css">
<title>Settings</title>
{% endblock %}
{% block content %}
<script type="text/javascript">
    $(function() {
    $('#id_interests').selectize({maxItems:3, selectOnTab: true});
});
</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-3 col-md-3">
            {% include 'openclass/profile-card.html' %}
        </div>
        <div class="col-xs-12 col-lg-9 col-md-9">
            <div class="card hovercard pl-5">
                <div class="cardheader">
                  <h3>Manage settings</h3>
                  <h6>Choose the informations you want to change:</h6>
                <div class="row">
                    <div class="col-xs-12 col-lg-6 col-md-6">
                        <div class="info">
                            <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">
                              This field can't be empty!
                            </div>
                            <form id="myForm" name="update_user" method="post" enctype="multipart/form-data" onsubmit="return validateSettingsForm()">
                                {% csrf_token %}
                                {{user_settings_form.as_table}}
                                {{profile_settings_form.as_table}}
                                <button id="signup-btn" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
{% endblock %}
