{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<title>{{workshop.title}} - {{config.SITE_NAME}}</title>
<link rel="stylesheet" href="{% static 'openclass/css/workshop.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/openclass.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/badges.css' %}">
<link rel="stylesheet" href="{% static 'openclass/css/signup.css' %}">

<div  class="container container-shape">
    <div class="container container_infos px-0">
    <div class="row row-head">
        <div class="col-xs-12 col-lg-12 col-xl-8 mx-0 px-0">
          <!-- to avoid error before adding default photo -->
          {% if workshop.cover_img %}
            <img src="{{workshop.cover_img.url}}" class="img-fluid img-title" alt="Responsive image">
          {% endif %}
        </div>
      <div class="col-xs-12 col-lg-12 col-xl-4 column-title">
        <div class="title-content">
          <h4 class="mb-5">{{workshop.start_date.date.isoformat}}</h4>
          <h1>{{workshop.title}}</h1>
        </div>
      </div>
    </div>

    <div class="row row-register">

      <div class="col-xs-12 col-lg-12 col-xl-6 col-progress" >

        <div class="progress mb-4 mt-5" >
            <div class="inscription-progress-bar progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
          <div class="col-xs-12 col-lg-12 col-xl-4 col-progress-btn">
            {% if request.user.is_authenticated and request.user.profile != workshop.animator %}
            <div>
              {% if is_canceled %}
              <div id="errorMessage" class="alert alert-danger mt-3" role="alert">
                You cancelled your registration, you cannot register again.
              </div>
              {% elif is_registered %}
                <!--div id="registeredMessage2" class="alert alert-primary mt-3" role="alert">
                  You are registered to this workshop.
                </div-->
                <button id="register-btn" type="button" class="btn btn-success my-4" style="display:none;justify-content:center;align-items:center;">Register !</button>
                <button id="cancel-btn" type="button" class="btn btn-success my-4" style="display:flex;justify-content:center;align-items:center;">Cancel !</button>
              {% else %}
                <button id="register-btn" type="button" class="btn btn-success my-4" style="display:flex;justify-content:center;align-items:center;">Register !</button>
                <button id="cancel-btn" type="button" class="btn btn-success my-4" style="display:none;justify-content:center;align-items:center;">Cancel !</button>
                <!--div id="registeredMessage1" class="alert alert-primary" role="alert" style="display: none;">
                  You are <b>registered</b> to this workshop.
                </div-->
              {% endif %}
              <div id="errorMessage" class="alert alert-primary mt-3" style="display:none;" role="alert">
                Error, Try later.
              </div>
          </div>
          {% endif %}
        </div>


      </div>
      <div class="ml-5 infos-custom">
      <div class="row ">
        <div class="col-xs-12 col-lg-12 col-xl-6 col-infos">
          <h3>Description:</h3>
          <p>{{workshop.description}}</p>
          <h3>Objectives:</h3>
          <p>{{workshop.objectives}}</p>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-4 col-time">
          <h3>Duration</h3>
          <span>{{workshop.duration}} hours</span>
          <h3>Date and time</h3>
            <span>{{workshop.start_date.date.isoformat}}</span>
          <span>{{workshop.start_date.time}}</span>

          <h3>Location</h3>
          <span>{{workshop.location}}</span>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-12 col-xl-6 col-infos">
          <h3 style="margin-bottom: 0.5em;">Related tags:</h3>
          <div>
            {% for tag in workshop.topics.all %}
            <a href="#" class="badge badge-light badge-learn themebadges px-4 py-4">
              {{tag.name}}
            </a>
            {% endfor %}

          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12 col-lg-12 col-xl-6 col-infos">
          <h3>Animator:</h3>
          <div>
            <div class="row my-5">
            <div class="col-xs-12 col-lg-12 col-xl-4">
              <!-- to avoid error before adding default photo -->

              {% if workshop.animator.photo %}
              <a href="{% url 'openclass:members_detail' workshop.animator.user.username %}">
            <img src="{{workshop.animator.photo.url}}" class="rounded float-left" alt="...">
              </a>
              {% endif %}
          </div>
            <div class="col-xs-12 col-lg-12 col-xl-8">
              <a href="{% url 'openclass:members_detail' workshop.animator.user.username %}">

              <h3>{{workshop.animator.user.first_name}} {{workshop.animator.user.last_name}}</h3>
            </a>

            </div>
          </div>
          </div>
        </div>

      </div>


      <script type="text/javascript">
        btnRegister = document.getElementById("register-btn");
        btnRegister.onclick = function register() {
          $.ajax({
            type: "POST",
            url: "{% url 'openclass:register_to_workshop' %}",
            dataType: "json",
            traditional: true,
            data: {
              workshop_pk: '{{ workshop.pk }}',
              csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data) {
                if (data['status'] === "registered"){
                  $("#register-btn").hide();
                  $("#cancel-btn").slideToggle("slow");
                }else{
                  $("#errorMessage").hide()
                  $("#errorMessage").slideToggle("slow")
                }
             }
          });
        }

        btnCancel = document.getElementById("cancel-btn");
        btnCancel.onclick = function cancel() {
          $.ajax({
            type: "POST",
            url: "{% url 'openclass:cancel_registration' %}",
            dataType: "json",
            traditional: true,
            data: {
              workshop_pk: '{{ workshop.pk }}',
              csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data) {
                if (data['status'] === "canceled"){
                  $("#cancel-btn").hide();
                  $("#register-btn").slideToggle("slow");
                }else{
                  $("#errorMessage").hide()
                  $("#errorMessage").slideToggle("slow")
                }
             }
          });

        }
      </script>
      {% if request.user.is_authenticated %}
      <div id="Q" class="row mb-2">
      {% if workshop.animator == request.user.profile and workshop.is_now %}

        <script type="text/javascript">
          $.ajax({
            type: "GET",
            url: "{% url 'openclass:workshop_questions_list' workshop.id %}",
            success: function(data) {
              $("#Q").html(data)
             }
          });
        </script>
      {% elif  workshop.is_now and workshop.status == ACCEPTED%}
      <script type="text/javascript">
        $.ajax({
          type: "GET",
          url: "{% url 'openclass:ask_question' workshop.id %}",
          success: function(data) {
            $("#Q").html(data)
           }
        });
      </script>
      {% else %}
      <script type="text/javascript">
        $.ajax({
          type: "GET",
          url: "{% url 'openclass:feedback' workshop.id %}",
          success: function(data) {
            $("#Q").html(data)
           }
        });
      </script>
      {%endif%}

  </div>
  {% endif %}
</div>
</div>

{% endblock %}
