{% extends 'openclass/base.html' %}
{% load staticfiles %}

{% block headercontent %}
<link rel="stylesheet" href="{% static 'openclass/css/openclass.css' %}">
<title>Questions List - {{config.SITE_NAME}}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 offset-md-4 container-custom">
{% if permission_denied %}
    <p>Permission denied !!!</p>
{% else %}
    <div id="questions_list">
        {% include 'openclass/questions_list.html' %}
    </div>
    <script type="text/javascript">
    function refresh_questions_list() {
        $.ajax({
            type: "GET",
            url: "{{ request.path }}",
            success: function(data) {
                $("#questions_list").html(data)
            },
            error: function(error) {
                alert("refresh questions_list error");
            }
        });
    }
    setInterval("refresh_questions_list()", 2000);
    </script>
{% endif %}
</div>
</div>
</div>
{% endblock %}
