{% extends 'openclass/base.html' %}
{% load staticfiles %}


{% block content %}
<title>{{workshop.title}} workshop</title>
<link rel="stylesheet" href="{% static 'openclass/css/workshop.css' %}">
<div  class="container container-shape">
    <div class="container container_infos px-0">
    <div class="row row-head">
        <div class="col-xs-12 col-lg-12 col-xl-8 mx-0 px-0">
          <img src="https://www.newstatesman.com/sites/all/themes/creative-responsive-theme/images/new_statesman_events.jpg" class="img-fluid img-title" alt="Responsive image">
        </div>
      <div class="col-xs-12 col-lg-12 col-xl-4 column-title">
        <div class="title-content">
          <h4 class="mb-5">May 19</h4>
          <h1>{{workshop.title}}</h1>
        </div>
      </div>
    </div>

    <div class="row row-register">

      <div class="col-xs-12 col-lg-12 col-xl-6 col-progress" >

        <div class="progress mb-4 mt-5" >
            <div class="inscription-progress-bar progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
          <div class="col-xs-12 col-lg-12 col-xl-4 col-progress-btn">
            <div>
            <button id="register-btn" type="button" class="btn btn-success my-4" style="display:flex;justify-content:center;align-items:center;">Register !</button>
          </div>
          </div>


      </div>
      <div class="ml-5 infos-custom">
      <div class="row ">
        <div class="col-xs-12 col-lg-12 col-xl-6 col-infos">
          <h3>Description:</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-4 col-time">
          <h3>Date and time</h3>
          <span>{{workshop.start_date.isoformat}}</span>
          <span>8am</span>

          <h3>Location</h3>
          <span>{{workshop.location}}</span>
          <span>ESI SBA</span>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-12 col-xl-6 col-infos">
          <h3>What you will learn:</h3>
          <div>

            <a href="#" class="badge badge-light badge-learn themebadges px-4 py-4">
              Lorem ipsum
            </a>
            <a href="#" class="badge badge-success badge-learn themebadges px-4 py-4">
              Lorem ipsum
            </a>
            <a href="#" class="badge badge-light badge-learn themebadges px-4 py-4">
              Lorem ipsum
            </a>
            <a href="#" class="badge badge-light badge-learn themebadges px-4 py-4">
              Lorem ipsum
            </a>

          </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-12 col-xl-6 col-infos">
          <h3>Animator:</h3>
          <div>
            <div class="row">
            <div class="col-xs-12 col-lg-12 col-xl-4">
            <img src="{% static 'openclass/img/avatar.jpg' %}" class="rounded float-left" alt="...">
          </div>
            <div class="col-xs-12 col-lg-12 col-xl-8">
              <h3>{{workshop.animator}}</h3>
              <p class="text-description">Lorem ipsum dolor sit amet,
                 consectetur adipisicing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim a
                 d minim veniam, quis nostrud exercitation ullamco laboris
                 nisi ut aliquip ex ea commodo consequat. Duis aute irure
                 dolor in reprehenderit in voluptate velit esse cillum dolore
                 eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                 non proident, sunt in culpa qui officia deserunt mollit anim
                id est laborum.
              </p>

            </div>
          </div>
          </div>
        </div>

      </div>


      <script type="text/javascript">
        btnRegister = document.getElementById("register-btn");
        btnRegister.onclick = function register() { 
          $.ajax({
            type: "POST",
            url: "/workshops/register/",
            dataType: "json",
            traditional: true,
            data: {'workshop_pk': {{workshop.pk}}},
            success: function(data) {
                     console.log(data["HTTPRESPONSE"]);
             }
          });
        }
      </script>



      </div>
    </div>

  </div>

{% endblock %}
