# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDEs and text editors
.idea
.vscode

# Project Database
OpenClass/db.sqlite3

# docs
docs/build
_templates
_static

# TODO
TODO

# media and collected static files
OpenClass/static
OpenClass/media

# migrations
OpenClass/openclass/migrations
