.member-list  {

	width: 8vh;
	height: 8vh;

    display: table-cell;
    vertical-align: middle;

}

.member-text {

	vertical-align: : text-bottom ;
} 

td {

	margin-top :auto;
	}

.box  {
  margin : 20px auto;
  width: 100%;
  max-width: 150px;
  height: 40px; 
  text-align: center; 
}

.box .container-1 input{
   width: 100%;
}