.container-custom {
  background: rgba(255, 255, 255,0.92);
  padding: 10px;
}
.message {
	position: relative;
	color: #fff;
	background: #333;
	border-radius: .4em;
	padding: 0.5em;

}
.message::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #333;
	border-left: 0;
	border-top: 0;
	margin-top: -0.312em;
	margin-left: -0.625em;
}