.switcher {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 60px;
  height: 16px;
  line-height: 16px;
  margin: 5px;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.switcher input {
  display: none;
}

.switcher__indicator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 20px;
  background-color: #888;
  border-radius: 50%;
  transition: all .3s ease;
  -webkit-animation-name: pulsein;
          animation-name: pulsein;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
.switcher__indicator::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #888;
  border-radius: 10px;
  transition: all .3s ease;
}
input:checked + .switcher__indicator::after {
  background-color: #0054a5;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-animation-name: pulseout;
          animation-name: pulseout;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
input:checked + .switcher__indicator::before {
  background-color: #0054a5;
}
input:disabled + .switcher__indicator::after, input:disabled + .switcher__indicator::before {
  background-color: #e5e5e5;
}

@-webkit-keyframes pulsein {
  0%, 100% {
    top: 0px;
    height: 16px;
    width: 20px;
  }
  50% {
    top: 6px;
    height: 8px;
    width: 26px;
  }
}

@keyframes pulsein {
  0%, 100% {
    top: 0px;
    height: 16px;
    width: 20px;
  }
  50% {
    top: 6px;
    height: 8px;
    width: 26px;
  }
}
@-webkit-keyframes pulseout {
  0%, 100% {
    top: 0px;
    height: 16px;
    width: 20px;
  }
  50% {
    top: 6px;
    height: 8px;
    width: 26px;
  }
}
@keyframes pulseout {
  0%, 100% {
    top: 0px;
    height: 16px;
    width: 20px;
  }
  50% {
    top: 6px;
    height: 8px;
    width: 26px;
  }
}
