body {
}
.card-user {
    height: 100%;
    padding-top: 20px;
    margin: 0px 0 20px 0;
    background-color: rgba(255, 255, 255, 1);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-user .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card-user .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card-user .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card-user .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card-user .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card-user .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card-user .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card-user .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card-user .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card-user .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card-user .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card-user .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card-user .card-comments .comments-collapse-toggle a,
.card-user .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card-user.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card-user.people:first-child {
    margin-left: 0;
}

.card-user.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card-user.people .card-top.green {
    background-color: #53a93f;
}

.card-user.people .card-top.blue {
    background-color: #427fed;
}

.card-user.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-user.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
}

.card-user.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card-user.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-user.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.card-user.hovercard .cardheader {
    background: url("../img/cover.jpg");
    background-size: cover;
    height: 135px;
}

.card-user.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card-user.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card-user.hovercard .info {
    padding: 4px 8px 10px;
}

.card-user.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card-user.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card-user.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card-user .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.tab {
    border: 1px solid;
    border-radius: 12px 12px 0% 0%;
    border-bottom: 0px;
    padding-right: 10px; 
    padding-left: 10px; 
    margin-left: 5px;
}

.tabs {
    margin-top: 10px;
}

.score {
    color: #006988 !important;
    font-size: 14px !important;
}