.container_workshop{
  background-image: url('https://www.newstatesman.com/sites/all/themes/creative-responsive-theme/images/new_statesman_events.jpg');
  background-size:cover;
  padding-left: 0px;
  padding-right: 0px;
}
.container_infos{
  background: rgba(255, 255, 255,1);

}

.text-description{
  text-align: center;
}



.column-title{
  background:#f0eeed;
  border-bottom-width:1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
}

.row-register{
  border-bottom-width:1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
  width: inherit;

}

.container-shape{
  border-radius: 50% 50% 50% 50%;

}

.row-head{
  width: inherit;

}

.infos-custom{
  margin-top: 10vh;
}

.col-infos{
  margin-left: 9vh;
  padding-left: 1vh;
  padding-right: 1vh;

}

.col-time{
  padding-left: 3ch;
  padding-right: 3vh;
  margin-left: 6vh;

}

.img-title{

}

.title-content{
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 3vh;
  padding-right: 2vh;
  margin-bottom: 2vh;
}

.col-progress{
  margin-left: 12vh;
  padding-left: 4vh;
  padding-right: 1vh;
  margin-right: 1vh;


}

.col-progress-btn{
  padding-left: 3vh;
  padding-right: 2vh;
  margin-left: 3vh;
  display:flex;
  align-items:center;
}

.themebadges{
  border-radius: 4vh;
  background-color: #dbdbde;

}
